/* ---- Home ----*/
.home {
  height: 500em;
  text-align: left;
  padding-top: 5em;
  margin-left: 5%;
  background-color: #0d1f2d;
  color: #d9d9d9;
}
.homeOla {
  text-align: left;
  font-size: 60px;
}
.homeNome {
  font-size: 60px;
  margin-top: -40px;
  text-align: left;
}
.typing-animation {
  font-size: 24px;
  overflow: hidden;
  white-space: nowrap;
}
.white-text {
  color: white;
}
.homeProfissaoSpan {
  color: #07bfe0;
}

/* Home Botoes */

.homeButtons a {
  display: flex;
}
.homeButtons {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #07bfe0;
  align-items: center;
}
.homeButtons:hover {
  background-color: red;
}

/*Redes*/

.card {
  margin-top: -50px;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
}

.socialContainer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
  background-image: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #ff7a59,
    #ff9a8b,
    #ffb9d3
  );
  transition-duration: 0.3s;
}
/* Github */
.containerTwo:hover {
  background-color: #424c50;
  transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0e76a8;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #14c76d;
  transition-duration: 0.3s;
}
/* Email */
.containerFive:hover {
  background-color: #af0303;
  transition-duration: 0.3s;
}
.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 22px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

/* ---- Sobre ----*/
.sobre{
  color: #07bfe0;
  text-align: center;
}
.comeco{
  text-align: center;
}
.sobreTxt{
  margin-left: 60%;
}
.sobreDivImg {
  display: inline-block; /* Isso ajuda a manter o container do tamanho da imagem */
  position: relative;
}
.sobreImg {
  width: 300px; /* Largura da imagem */
  height: 200px; /* Altura da imagem */
  border: 1px solid #ccc; /* Borda para destacar a imagem */
  transition: transform 0.3s ease; /* Efeito de transição suave para hover */
}

/* Efeito de escala no hover */
.sobreImg:hover {
  transform: scale(1.1); /* Aumenta a imagem em 10% */
}

/* Efeito de sombreamento na borda ao passar o mouse */
.sobreImg:hover {
  box-shadow: 0 0 10px rgba(252, 250, 250, 0.973);
}
.sobreBtn {
  margin-left: 1%;
  padding: 1em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
  gap: 10px;
}

.sobreBtn:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.sobreBtn::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.sobreBtn:hover::before {
  width: 250%;
}

/* All Key Frames */

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Estilos para telas menores que 768px (Celular) */
@media screen and (max-width: 767px) {
  .home {
    width: 90%;
    border: 2px solid red;
  }
  .homeOla {
    font-size: 30px;
    padding-bottom: 25px;
  }
  .homeNome {
    font-size: 30px;
    float: left;
  }
  .homeTeclar {
    font-size: 40px;
    float: left; /* Flutua para a esquerda */
    clear: both;
  }
  .homeProfisao {
    font-size: 20px;
    font-weight: bolder;
  }
  .card {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .socialContainer {
    width: 50px;
    height: 50px;
  }
}

/* Estilos para telas entre 768px e 1023px (Tablet) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}
/* Estilos para telas a partir de 1024px (Desktop) */
@media screen and (min-width: 1024px) {
}
