.navbar {
  justify-content: space-between;
  align-items: center;
  background-color: #354656;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 90%;
  height: 50px;
  display: flex;
  margin-top: 30px;
  margin-left: 5%;
  border-radius: 40px;
  border: 1px solid #07bfe0;
}
.logo img {
  padding-left: 80px;
  width: 60px;
  height: 60px;
}
li {
  list-style: none;
}
.nav-links {
  text-decoration: none;
  color: #07bfe0;
  font-weight: bolder;
}
.nav-links:hover {
  border-bottom: 2px solid #07bfe0;
  padding-bottom: 15px;
  transition: 0.3s;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-right: 5%;
}
.burger {
  display: none;
  cursor: pointer;
  margin-right: 100%;
}
.bar {
  display: block;
  width: 20px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: #d9d9d9;
  transition: all 0.3s ease ease-in-out;
}
/* Estilos para telas menores que 768px (Celular) */
@media screen and (max-width: 767px) {
  .burger {
    display: block;
    margin-right: 10%;
  }
  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    display: block; /*!!!!!!! tira isso quando souber quando resolver, navbar*/
    margin-top: 70%;
    gap: 0;
    border-radius: 0 0 20px 20px;
    background-color: #354656;
    flex-direction: column;
    width: 100px;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
  .logo {
    margin-left: -15%;
  }
}

/* Estilos para telas entre 768px e 1023px (Tablet) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}
/* Estilos para telas a partir de 1024px (Desktop) */
@media screen and (min-width: 1024px) {
}
