.loader {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 20%;
}

.bar {
  width: 7px;
  height: 18px;
  margin: 0 9px;
  border-radius: 10px;
  animation: loading_5192 1s ease-in-out infinite;
  background-color: aqua;
}

.bar:nth-child(1) {
  animation-delay: 0.01s;
}

.bar:nth-child(2) {
  animation-delay: 0.09s;
}

.bar:nth-child(3) {
  animation-delay: 0.19s;
}

.bar:nth-child(4) {
  animation-delay: 0.29s;
}

@keyframes loading_5192 {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1, 2.5);
  }

  40% {
    transform: scale(1);
  }
}

/* Estilos para ocultar a tela de loading */
.hidden {
  display: none;
}
/* Estilos para telas menores que 768px (Celular) */
@media screen and (max-width: 767px) {
  .loader {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50vh;
  }
}

/* Estilos para telas entre 768px e 1023px (Tablet) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}
/* Estilos para telas a partir de 1024px (Desktop) */
@media screen and (min-width: 1024px) {
}
