@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto+Mono:wght@200;500&display=swap');

:root {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
  font-weight: 200;
  background-color: #0D1F2D;
  color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}
